* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.feautures_main {
  width: 100%;
}

.feautures_inner_main {
  background-color: #fff8f0;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding: 1rem;
}

.dark .feautures_inner_main {
  background-color: #1d1b1b;
  color: #dccece;
}

.dark .description_changemake_text {
  color: #dccece;
}

.dark .reallives_changemaker_text {
  color: #dccece;
}

.dark .cards_features_box {
  background-color: #1d1b1b;
}

.dark .features_description_text {
  color: #dccece;
}

.top_features_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.reallives_changemaker_text {
  font-weight: 500;
  font-size: 28px;
  color: #111111;
}

.description_changemake_text {
  font-weight: 400;
  font-size: 20px;
  color: #444444;
  text-align: center;
  line-height: 27px;
}

.features_card_container {
  padding: 1rem 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.cards_features_box {
  border: 2px solid #ffd191;
  background-color: white;
  border-radius: 6px;
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 2rem;
}

.content_data_text_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.features_text_card {
  font-weight: 500;
  font-size: 24px;
  color: #d47a00;
}

.features_description_text {
  font-weight: 400;
  font-size: 18px;
  color: #444444;
  line-height: 27px;
}

.image_fit_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* new  */

.impact_section_container {
  background-color: #fff7eb;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  width: 100vw;
}

.experience_text_reallives {
  font-size: 28px;
  color: #111111;
  text-align: center;
  margin-top: 2%;
}
.description_features_bottom {
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  color: #111111;
}

.inforamtion_card_container {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
}

.card_info_container {
  padding: 10px 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.card_info_box {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0px 0px 12px 0px #00000040;
}

.university_image_box {
  border-radius: 6px;
  overflow: hidden;
}

.content_data_text_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title_university_name {
  font-weight: 500;
  font-size: 21px;
  color: #111111;
}

.description_university_text {
  font-weight: 400;
  font-size: 17px;
  color: #4d4d4d;
  line-height: 1.7;
}

.btn_larne_more {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.explore_workshop_btn {
  background-color: #ffc067;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  height: 100%;
}

.dark .impact_section_container {
  background-color: #222222;
}

.dark .experience_text_reallives {
  color: white;
}

.dark .description_features_bottom {
  color: white;
}

.dark .card_info_box {
  background-color: #171616;
}

.dark .title_university_name {
  color: white;
}

.dark .description_university_text {
  color: white;
}

.inner_btn {
  padding: 13px 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  border-radius: 6px;
  border: 1px solid #c1c1c1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 1280px) {
  .card_info_container {
    padding: 10px 0rem;
    gap: 1rem;
  }

  .features_card_container {
    padding: 10px 0rem;
  }
}

@media (max-width: 1180px) {
  .card_info_container {
    padding: 10px 0rem;
    gap: 1rem;
  }

  .features_card_container {
    padding: 10px 0rem;
  }
}
@media (max-width: 1024px) {
  .card_info_container {
    padding: 10px 0rem;
    gap: 1rem;
  }
  .features_card_container {
    padding: 10px 0rem;
  }
}

@media (max-width: 991px) {
  .image_width {
    display: none;
  }
  .benifites_content_container {
    position: none;
  }
  .impact_section_container {
    gap: 0rem;
  }

  .description_features_bottom {
    font-size: 17px;
  }

  .experience_text_reallives {
    font-size: 21px;
  }

  .card_info_container {
    grid-template-columns: 1fr;
    padding: 10px 0rem;
    gap: 1rem;
  }
  .btn_larne_more {
    flex-direction: column;
  }

  .reallives_changemaker_text {
    font-size: 22px;
  }

  .top_features_box {
    padding: 0rem;
  }

  .description_changemake_text {
    font-size: 18px;
  }

  .features_text_card {
    font-size: 23px;
  }

  .features_description_text {
    font-size: 20px;
  }

  .features_card_container {
    grid-template-columns: 1fr;
    padding: 1rem 0rem;
  }
  .features_card_container {
    grid-template-columns: 1fr;
    padding: 1rem 0rem;
  }
}

@media (max-width: 880px) {
  .image_width {
    display: none;
  }
  .benifites_content_container {
    position: none;
  }

  .impact_section_container {
    gap: 0rem;
  }

  .description_features_bottom {
    font-size: 17px;
  }

  .experience_text_reallives {
    font-size: 21px;
  }

  .card_info_container {
    grid-template-columns: 1fr;
    padding: 10px 0rem;
    gap: 1rem;
  }
  .btn_larne_more {
    flex-direction: column;
  }

  .reallives_changemaker_text {
    font-size: 22px;
  }

  .top_features_box {
    padding: 0rem;
  }

  .description_changemake_text {
    font-size: 18px;
  }

  .features_text_card {
    font-size: 23px;
  }

  .features_description_text {
    font-size: 20px;
  }

  .features_card_container {
    grid-template-columns: 1fr;
    padding: 1rem 0rem;
  }
  .features_card_container {
    grid-template-columns: 1fr;
    padding: 1rem 0rem;
  }
}

@media (max-width: 680px) {
  .impact_section_container {
    gap: 0rem;
  }

  .description_features_bottom {
    font-size: 17px;
  }

  .experience_text_reallives {
    font-size: 21px;
  }

  .card_info_container {
    grid-template-columns: 1fr;
    padding: 10px 0rem;
    gap: 1rem;
  }
  .btn_larne_more {
    flex-direction: column;
  }

  .reallives_changemaker_text {
    font-size: 22px;
  }

  .top_features_box {
    padding: 0rem;
  }

  .description_changemake_text {
    font-size: 18px;
  }

  .features_text_card {
    font-size: 23px;
  }

  .features_description_text {
    font-size: 20px;
  }

  .features_card_container {
    grid-template-columns: 1fr;
    padding: 1rem 0rem;
  }
}
@media (max-width: 560px) {
  .impact_section_container {
    gap: 0rem;
  }

  .description_features_bottom {
    font-size: 15px;
  }

  .experience_text_reallives {
    font-size: 20px;
  }

  .card_info_container {
    grid-template-columns: 1fr;
    padding: 10px 0rem;
  }
  .btn_larne_more {
    flex-direction: column;
  }

  .reallives_changemaker_text {
    font-size: 20px;
  }

  .top_features_box {
    padding: 0rem;
  }

  .description_changemake_text {
    font-size: 16px;
  }

  .features_text_card {
    font-size: 21px;
  }

  .features_description_text {
    font-size: 18px;
  }

  .features_card_container {
    grid-template-columns: 1fr;
    padding: 1rem 0rem;
  }
}

@media (max-width: 460px) {
  .impact_section_container {
    gap: 1rem;
  }

  .description_features_bottom {
    font-size: 15px;
  }

  .experience_text_reallives {
    font-size: 20px;
  }

  .card_info_container {
    grid-template-columns: 1fr;
    padding: 10px 0rem;
    gap: 1rem;
  }
  .btn_larne_more {
    flex-direction: column;
  }

  .reallives_changemaker_text {
    font-size: 19px;
  }

  .top_features_box {
    padding: 0rem;
  }

  .description_changemake_text {
    font-size: 15px;
  }

  .features_text_card {
    font-size: 20px;
  }

  .features_description_text {
    font-size: 17px;
  }

  .features_card_container {
    grid-template-columns: 1fr;
    padding: 1rem 0rem;
  }
}

@media (max-width: 375px) {
  .impact_section_container {
    gap: 0rem;
  }

  .description_features_bottom {
    font-size: 15px;
  }

  .experience_text_reallives {
    font-size: 20px;
  }

  .card_info_container {
    grid-template-columns: 1fr;
    padding: 10px 0rem;
    gap: 1rem;
  }
  .btn_larne_more {
    flex-direction: column;
  }

  .reallives_changemaker_text {
    font-size: 19px;
  }

  .top_features_box {
    padding: 0rem;
  }

  .description_changemake_text {
    font-size: 15px;
  }

  .features_text_card {
    font-size: 20px;
  }

  .features_description_text {
    font-size: 17px;
  }

  .features_card_container {
    grid-template-columns: 1fr;
    padding: 1rem 0rem;
  }
}
