.footer {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  padding: 2rem 6rem;
}

/* ===== DARK MODE ===== */
.footer.dark {
  background-color: #171616;
}

.footer.dark .changemaker-text {
  color: white;
}

.footer.dark .footer-descritpion-text {
  color: white;
}

.footer.dark .text-footer-label {
  color: #cac5c5;
}

.footer.dark .footer-ankar-style {
  color: white;
}

/* ===== LIGHT MODE ===== */
.footer.light {
  background-color: #f7f7f7;
}

.footer.light .changemaker-text {
  color: black;
}

.footer.light .footer-descritpion-text {
  color: #4d4d4d;
}

.footer.light .text-footer-label {
  color: #000;
}

.footer.light .footer-ankar-style {
  color: #333;
}

/* ===== COMMON STYLES ===== */

.footer-section-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-style {
  display: flex;
}

.left-side-bar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
}

.logo-change {
  width: 45px;
  height: 45px;
}

.image-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-right-index {
  padding-left: 1rem;
  padding: 10px;
  border-left: 2px solid #ffb44d;
}

.changemaker-text {
  font-weight: 500;
  font-size: 16px;
}

.footer-descritpion-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}

.footer-section-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.label-footer-button-box {
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.text-footer-label {
  font-weight: 500;
  font-size: 18px;
}

.footer-child-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-ankar-style {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.iframe_container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 20rem;
}

.rcmi_embed_cdn {
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 100%;
}

.width-100 {
  width: 100% !important;
  height: 100% !important;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .footer-section-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
